node_modules
playwright-report
test-report
allure-report
allure-results
test-results
tests/screenshots/
tests/videos/
test-html-report/
test-junit-report/
blob-report/
playwright/.cache/
package-lock.json
tests/data/sampleFile.jpeg
.env
tests/helper/auth/user.json
